/* container */
.container {padding-top:1.4em; overflow:hidden; background:url('http://akstatic.plaync.com/RK/minigame/occupation/home_bg_img.png') no-repeat center top; background-size:100%;}
.container img {display:block; border:0; width:100%;}

.timeArea {position:relative; height:2em;}
.timeArea .text {position:absolute; top:55%; font-size:0.35em; color:#ab9f8e; text-align:center;}
.timeArea .next {left:25%; width:70%; color:#ff1b30;}
.timeArea .time {left:25%; width:28%; color:#1bf2e0;}
.timeArea .remaintime {left:25%; width:28%; color:#bde032;}
.timeArea .guild {left:55%; width:19%;}
.timeArea .monster {left:77%; width:18%;}
.timeArea .timezone {color:#ab9f8e;}

.missionText {}

.mapArea {position:relative; height:7.9em;}
.mapArea .bg_bar {position:absolute; left:0; bottom:0; width:100%;}
.mapArea .landList {position:absolute; left:0; top:0; width:100%; height:7.9em; z-index:230;}
.mapArea .landList .land {position:absolute; width:33%; cursor:pointer;}
.mapArea .landList .land img {width:100%;}
.mapArea .landList .land .icon {position:absolute; left:0; top:0; width:100%;}
.mapArea .landList .land .count {position:absolute; left:46%; top:55%; width:54%; font-size:0.27em; color:#c240ff;}
.mapArea .landList .land .count span {color:#00dd00;}
.mapArea .landList .land1 {left:20%; top:5%;}
.mapArea .landList .land2 {left:53%; top:5%;}
.mapArea .landList .land3 {left:0%; top:34%;}
.mapArea .landList .land4 {left:33%; top:34%;}
.mapArea .landList .land5 {left:66%; top:34%;}
.mapArea .landList .land6 {left:20%; top:63%;}
.mapArea .landList .land7 {left:53%; top:63%;}

.mapArea .map {position:absolute; left:0; top:0; width:100%; height:7.9em; z-index:220;}
.mapArea .map .area {position:absolute; width:15%; cursor:pointer;}
.mapArea .map .area .icon {position:absolute; left:0; top:0;}
.mapArea .map .area .wind {z-index:221;}
.mapArea .map .area .number {z-index:222;}
.mapArea .map .area .counter {z-index:223;}
.mapArea .map .area .check {z-index:224;}
.mapArea .map .area .rolling {left:auto; right:0; top:auto; bottom:13%; width:35%; z-index:224; animation-name:ani_rolling; animation-duration:2s; animation-iteration-count:infinite; animation-timing-function:linear;}
.mapArea .map .area .text {top:77%; width:100%; z-index:225;}
.mapArea .map .area .text span {display:block; margin-left:45%; font-size:0.24em; line-height:1.4em;}
.mapArea .map .area .text .my {color:#00dd00;}
.mapArea .map .area .text .guild {color:#c240ff;}

.mapArea .map.type1 .area1 {left:1%; top:15%;}
.mapArea .map.type1 .area2 {left:13%; top:37%;}
.mapArea .map.type1 .area3 {left:27%; top:22%;}
.mapArea .map.type1 .area4 {left:34%; top:50%;}
.mapArea .map.type1 .area5 {left:46%; top:27%;}
.mapArea .map.type1 .area6 {left:51%; top:54%;}
.mapArea .map.type1 .area7 {left:67%; top:46%;}
.mapArea .map.type1 .area8 {left:63%; top:21%;}
.mapArea .map.type1 .area9 {left:82%; top:37%;}
.mapArea .map.type1 .area10 {left:82%; top:7%;}

.mapArea .map.type2 .area1 {left:1%; top:20%;}
.mapArea .map.type2 .area2 {left:20%; top:14%;}
.mapArea .map.type2 .area3 {left:11%; top:42%;}
.mapArea .map.type2 .area4 {left:30%; top:39%;}
.mapArea .map.type2 .area5 {left:42%; top:19%;}
.mapArea .map.type2 .area6 {left:48%; top:54%;}
.mapArea .map.type2 .area7 {left:58%; top:29%;}
.mapArea .map.type2 .area8 {left:75%; top:53%;}
.mapArea .map.type2 .area9 {left:82%; top:29%;}
.mapArea .map.type2 .area10 {left:68%; top:9%;}

.mapArea .map.type3 .area1 {left:1%; top:16%;}
.mapArea .map.type3 .area2 {left:6%; top:43%;}
.mapArea .map.type3 .area3 {left:24%; top:29%;}
.mapArea .map.type3 .area4 {left:26%; top:57%;}
.mapArea .map.type3 .area5 {left:43%; top:49%;}
.mapArea .map.type3 .area6 {left:42%; top:20%;}
.mapArea .map.type3 .area7 {left:61%; top:23%;}
.mapArea .map.type3 .area8 {left:64%; top:52%;}
.mapArea .map.type3 .area9 {left:81%; top:24%;}
.mapArea .map.type3 .area10 {left:84%; top:56%;}

.mapArea .map.type4 .area1 {left:1%; top:36%;}
.mapArea .map.type4 .area2 {left:17%; top:22%;}
.mapArea .map.type4 .area3 {left:21%; top:49%;}
.mapArea .map.type4 .area4 {left:35%; top:22%;}
.mapArea .map.type4 .area5 {left:40%; top:49%;}
.mapArea .map.type4 .area6 {left:54%; top:30%;}
.mapArea .map.type4 .area7 {left:67%; top:17%;}
.mapArea .map.type4 .area8 {left:68%; top:54%;}
.mapArea .map.type4 .area9 {left:83%; top:37%;}
.mapArea .map.type4 .area10 {left:83%; top:4%;}

.mapArea .map.type5 .area1 {left:1%; top:43%;}
.mapArea .map.type5 .area2 {left:15%; top:22%;}
.mapArea .map.type5 .area3 {left:17%; top:49%;}
.mapArea .map.type5 .area4 {left:33%; top:57%;}
.mapArea .map.type5 .area5 {left:39%; top:30%;}
.mapArea .map.type5 .area6 {left:50%; top:58%;}
.mapArea .map.type5 .area7 {left:67%; top:50%;}
.mapArea .map.type5 .area8 {left:66%; top:20%;}
.mapArea .map.type5 .area9 {left:83%; top:10%;}
.mapArea .map.type5 .area10 {left:83%; top:43%;}

.mapArea .map.type6 .area1 {left:1%; top:24%;}
.mapArea .map.type6 .area2 {left:16%; top:31%;}
.mapArea .map.type6 .area3 {left:18%; top:57%;}
.mapArea .map.type6 .area4 {left:32%; top:43%;}
.mapArea .map.type6 .area5 {left:31%; top:16%;}
.mapArea .map.type6 .area6 {left:48%; top:29%;}
.mapArea .map.type6 .area7 {left:50%; top:60%;}
.mapArea .map.type6 .area8 {left:66%; top:54%;}
.mapArea .map.type6 .area9 {left:66%; top:24%;}
.mapArea .map.type6 .area10 {left:83%; top:39%;}

.mapArea .map.type7 .area1 {left:2%; top:11%;}
.mapArea .map.type7 .area2 {left:3%; top:40%;}
.mapArea .map.type7 .area3 {left:19%; top:27%;}
.mapArea .map.type7 .area4 {left:23%; top:57%;}
.mapArea .map.type7 .area5 {left:36%; top:39%;}
.mapArea .map.type7 .area6 {left:46%; top:18%;}
.mapArea .map.type7 .area7 {left:56%; top:39%;}
.mapArea .map.type7 .area8 {left:70%; top:56%;}
.mapArea .map.type7 .area9 {left:83%; top:30%;}
.mapArea .map.type7 .area10 {left:65%; top:16%;}

.mapArea .map .mapInfo {position:absolute; left:27%; top:1%; width:46%;}
.mapArea .map .mapInfo .number {position:absolute; bottom:12.9%; font-size:0.3em;}
.mapArea .map .mapInfo .insert_my {left:35%; color:#00dd00;}
.mapArea .map .mapInfo .insert_guild {left:77%; color:#c240ff;}
.mapArea .map .insert {position:absolute; left:0; width:20%;}
.mapArea .map .insert span {position:absolute; left:25%; top:49%; width:65%; font-size:0.3em;}
.mapArea .map .insert_my {bottom:17%;}
.mapArea .map .insert_my span {color:#00dd00;}
.mapArea .map .insert_guild {bottom:5%;}
.mapArea .map .insert_guild span {color:#ffd625;}

.mapArea .map .btn_select_land {position:absolute; left:3%; bottom:5%; width:22%;}
.mapArea .map .btn_help {position:absolute; right:3%; bottom:5%; width:22%;}

.statusArea {position:relative; background-color:#2f2619;}
.statusArea .bg_bar {position:absolute; left:0; top:0; width:100%;}
.statusArea .text {position:absolute; top:44%; width:10%; font-size:0.3em; text-align:center; color:#ffd625;height:2.4em;line-height:2.4em;}
.statusArea .text span {color:#00dd00;}
.statusArea .insert_my {left:28%;}
.statusArea .insert_guild {left:45%; color:#c240ff;}
.statusArea .insert_member {left:63%; color:#ab9f8e;}
.statusArea .btn_view {position:absolute; right:2%; top:40%; width:22%;}

/* layers */
.insert_monster {position:absolute; left:7%; top:1em; width:86%;}
.insert_monster .bg {width:100%;}
.insert_monster .cont {position:absolute; left:0; top:0; width:100%;}
.insert_monster .cont img {width:100%; margin:0 auto;}
.insert_monster .cont .titleArea {position:absolute; left:0; top:16%; width:100%;}
.insert_monster .cont .titleArea .position {font-size:0.4em; text-align:center; color:#ff7e0b;}
.insert_monster .cont .titleArea .level {width:31%;}
.insert_monster .cont .countArea {position:absolute; left:0; top:39.5%; width:100%;}
.insert_monster .cont .countArea .guildMonster {text-align:center; font-size:0.6em; color:#c240ff;}
.insert_monster .cont .countArea .myMonster {margin:7.5% 0 3%; text-align:center; font-size:0.6em; color:#00dd00;}
.insert_monster .cont .countArea .countBtns {text-align:center;}
.insert_monster .cont .countArea .countBtns button {width:17%; margin:0 0 0 0;}
.insert_monster .cont .descArea {position:absolute; left:5%; top:80%; width:91%;height:5.5%;overflow:hidden;}
.insert_monster .cont .descArea span {float:left; width:50%; text-align:center; font-size:0.3em; color:#ffd625;line-height:2.3em;}
.insert_monster .cont .btnArea button {width:28%;}

.insert_complete {position:absolute; left:7%; top:1.8em; width:86%;}
.insert_complete .cont {position:absolute; left:0; top:0; width:100%;}
.insert_complete .cont img {width:100%; margin:0 auto;}
.insert_complete .cont .titleArea {position:absolute; left:0; top:16%; width:100%;}
.insert_complete .cont .titleArea .position {font-size:0.4em; text-align:center; color:#ff7e0b;}
.insert_complete .cont .titleArea .level {width:31%;}
.insert_complete .cont .resultArea {position:absolute; left:4%; top:44%; width:93%;}
.insert_complete .cont .resultArea span {float:left; width:33%; text-align:center; font-size:0.4em; color:#ffd625;}
.insert_complete .cont .rankArea {position:absolute; left:4%; top:68%; width:93%;}
.insert_complete .cont .rankArea .item {float:left; width:50%;}
.insert_complete .cont .rankArea .item span {display:block; text-align:center;}
.insert_complete .cont .rankArea .item .name {font-size:0.3em; color:#ffd625;}
.insert_complete .cont .rankArea .item .number {margin-top:2%; font-size:0.8em; color:#fff;}
.insert_complete .cont .btnArea {left:1%; bottom:3%; width:98%;}
.insert_complete .cont .btnArea button {float:left; width:25%;}
.insert_complete .cont .btnArea button.fix_right {float:right;}

.information {position:absolute; left:7%; top:1.7em; width:86%;}
.information img {display:block; width:100%;}
.information .cont .btnArea button {width:22%;}

.record {position:absolute; left:7%; top:1.7em; width:86%;}
.record img {display:block; width:100%;}
.record .cont .record_list {position:absolute; left:2%; top:22%; width:96%;}
.record .cont .record_list li {overflow:hidden;height:.806em;}
.record .cont .record_list li.selected {background-color:#ffd625;}
.record .cont .record_list li span {display:block;float:left; height:2.7em; line-height:3em; font-size:0.3em; color:#ffffff; text-align:center;width:17.5%;}
.record .cont .record_list li .date {width:14%; color:#ffd87a;}
.record .cont .record_list li .dagger {width:13%; color:#ffb424; text-align:right;}
.record .cont .record_list li.selected span {color:#341a09;}
.record .cont .paging {position:absolute; left:3%; bottom:4.5%; width:55%; height:1em; text-align:center; font-size:0.4em; color:#ffb424;}
.record .cont .paging button {position:absolute; top:-40%; width:30%;}
.record .cont .paging .btn_prev {left:0;}
.record .cont .paging .btn_next {right:0;}
.record .cont .btnArea .btn_close {float:right; width:22%; margin-right:3%;}
.record .detail_pop {position:absolute; left:3%; top:5%; width:94%;}
.record .detail_pop .title {position:absolute; left:0; top:8.5%; width:100%; text-align:center; font-size:0.28em; color:#877b6a;}
.record .detail_pop .reward {position:absolute; left:4%; top:21.5%; width:92%;}
.record .detail_pop .reward span {float:left; width:30%; height:2.7em; line-height:2.7em; font-size:0.3em; color:#ffd87a; text-align:center;}
.record .detail_pop .reward .point {width:39%;}
/*.record .detail_pop .reward .guildName {position:absolute; right:0; top:0; width:29%; font-size:0.2em;}
.record .detail_pop .reward .guildRank {position:absolute; right:0; top:16%; width:29%;}*/
.record .detail_pop .reward .guildInfo .valign {display:table;width:100%;height:100%;}
.record .detail_pop .reward .guildInfo .valign .middle {display:table-cell;width:100%;height:100%;vertical-align:middle}
.record .detail_pop .reward .guildInfo span {display:block;float:none;width:100%;height:auto;line-height:1.6em;line-height:2.93vw;}
.record .detail_pop .reward .guildInfo span.guildName {font-size:0.2em;font-size:2.4vw;}
.record .detail_pop .reward .guildInfo span.guildRank {font-size:0.3em;font-size:2.91vw;}
    @media(min-width:480px){
        .record .detail_pop .reward .guildInfo span {line-height:14.08px;}
        .record .detail_pop .reward .guildInfo span.guildName {font-size:11.52px;}  
        .record .detail_pop .reward .guildInfo span.guildRank {font-size:14px;}      
    }

.record .detail_pop .daggerScore {position:absolute; left:3.3%; top:43.5%; width:93.3%;}
.record .detail_pop .daggerScore span {float:left; width:25%; height:2.7em; line-height:2.7em; font-size:0.25em; color:#fff; text-align:center;}
.record .detail_pop .daggerScore .sum {color:#ffd87a;}
.record .detail_pop .result {position:absolute; left:22%; top:61.5%; width:75%;height:24.27%;}
.record .detail_pop .result li {display:block;overflow:hidden;height:20%;overflow:hidden;}
.record .detail_pop .result span {float:left; width:33.333333%; line-height:2.4em; font-size:0.25em; color:#fff; text-align:center;}
.record .detail_pop .result .sum {color:#ffd87a;}
.record .detail_pop .btnArea {bottom:4%;}

.last_insert {position:absolute;left:7%;top:1.7em;width:86%;}
.last_insert img {display:block;width:100%;}
.last_insert .links {overflow:hidden;position:absolute;left:13.35%;bottom:15.2%;width:73.3%;}
.last_insert .links button {display:block;float:right;width:48.5%;}
.last_insert .links button:first-child {float:left;}


@keyframes ani_expand {
    0% {transform:scale(1); opacity:1;}
    100% {transform:scale(10); opacity:0;}
}
.ani_expand {animation-name:ani_expand; animation-duration:500ms;}

@keyframes ani_contract {
    0% {transform:scale(10); opacity:0;}
    100% {transform:scale(1); opacity:1;}
}
.ani_contract {animation-name:ani_contract; animation-duration:500ms;}

@keyframes ani_into {
    0% {transform:scale(0); opacity:0;}
    100% {transform:scale(1); opacity:1;}
}
.ani_into {animation-name:ani_into; animation-duration:500ms;}

@keyframes ani_out {
    0% {transform:scale(1); opacity:1;}
    100% {transform:scale(0); opacity:0;}
}
.ani_out {animation-name:ani_out; animation-duration:500ms;}

@keyframes ani_rolling {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

@keyframes ani_popup {
    0% {transform:scale(0); opacity:0;}
    80% {transform:scale(1.1);}
    100% {transform:scale(1); opacity:1;}
}
.ani_popup {animation-name:ani_popup; animation-duration:200ms;}

@keyframes ani_mission {
    0% {transform:rotateY(180deg);}
    100% {transform:rotateY(0deg);}
}
.ani_mission {animation-name:ani_mission; animation-duration:300ms;}




/* 다국어대응 : 영문(sea) **************************************************************/

/* 다국어대응 : 중문(tw)  **************************************************************/
.tw .timeArea > div,
.tw .mapArea .landList .land .count,
.tw .statusArea *,
.tw .insert_monster .cont .countArea *,
.tw #layer_record *,
.tw #layer_insert_complete * {font-family:'Godo';}

.tw #layer_insert_complete .insert_complete .cont .rankArea .item .name {font-family:'Noto Sans TC';}

.tw .record .detail_pop .reward .guildName {top:-10%;}